[Unit]
Description=Novus recording system
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/Novus_recording_system
ExecStart=/usr/local/bin/gunicorn -w 100 -t 5 app:app --reload --bind 0.0.0.0:5001
StandardError=journal
StandardOutput=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=mutli-user.target



