[Unit]
Description=Novus recording system
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/Novus_recording_system
ExecStart=/usr/bin/python3 /Novus_recording_system/app.py
StandardError=journal
StandardOutput=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=mutli-user.target

