{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <table class="table table-striped table-hover">
        <th>#</th>
        <th>Channel</th>
        <th>Url</th>
        <th>Status</th>
        <th>Control</th>

        {% for channel in radio %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ channel[0] }}</td>
                <td>{{ channel[1] }}</td>
                {% if 'none' in channel[3](channel[0]) %}
                    <td><span class="label label-danger">stopped</span></td>
                {% else %}
                    <td><span class="label label-success">running</span></td>
                    <td><span class="label label-warning">{{ channel[3](channel[0]) }}</span></td>
                {% endif %}
                <td><audio src="{{ channel[1] }}" controls preload="none"></audio></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}