{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">
    {% for channel in radio %}
        <audio src="{{ channel[1] }}" controls preload="none"></audio>
            &emsp;{{ channel[0] }} &nbsp;&nbsp;&nbsp;&nbsp;
        {% if 'none' in channel[3](channel[0]) %}
            <span class="label label-danger">stopped</span>
        {% else %}
            <span class="label label-success">running</span>
            <span class="label label-warning">{{ channel[3](channel[0]) }}</span>
        {% endif %}
        <br>
        {% endfor %}
</div>

{% endblock %}