{% extends 'layout.html' %}

{% block body %}
&emsp;<a href="{{ url_for('control_television') }}"><button>refresh</button></a>
<br>
<br>

<div class="container-fluid">



    <!-- MNET channel -->
    <form action="" method="POST">
        <h4>MNET</h4>
        <div class="btn-group">
            <input class="btn btn-primary" type="submit" value="start" name="MNET_start">
            <input class="btn btn-primary" type="submit" value="stop" name="MNET_stop">
        </div>

        <span class="label label-info">tect</span>
        {% if 'none' in MNET_status %}
            <span class="label label-danger">stopped</span>
        {% else %}
            <span class="label label-success">running</span>
            <span class="label label-warning">{{ MNET_status }}</span>
        {% endif %}

    </form>
    <br>
        <audio src="rtp://@225.0.1.101:1100" preload="none" controls style=" width:100px;"></audio>
    <br>
    <br>




</div>

{% endblock %}
