{% extends 'layout.html' %}

{% block body %}
&emsp;<a href="{{ url_for('control_radio') }}"><button>refresh</button></a>
<br>
<br>

<div class="container">

<table class="table table-striped">

    <tr>
        <th>Channel</th>
        <th>Type</th>
        <th>Status</th>
        <th>Control</th>
    </tr>

    <tr>
        <form action="" method="POST">
            <td>
                <h4>1FM</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in OneFM_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ OneFM_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in OneFM_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="1FM_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="1FM_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="1FM_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="1FM_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

    <tr>
        <form action="" method="POST">
            <td>
                <h4>2OceansVibe</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in TWOOceansVibe_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ TWOOceansVibe_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in TWOOceansVibe_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="2OceansVibe_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="2OceansVibe_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="2OceansVibe_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="2OceansVibe_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

    <tr>
        <form action="" method="POST">
            <td>
                <h4>5FM</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in FiveFM_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ FiveFM_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in FiveFM_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="5FM_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="5FM_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="5FM_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="5FM_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

    <tr>
        <form action="" method="POST">
            <td>
                <h4>567 CapeTalk</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in Five67_CapeTalk_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ Five67_CapeTalk_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in Five67_CapeTalk_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="567_CapeTalk_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="567_CapeTalk_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="567_CapeTalk_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="567_CapeTalk_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

        <tr>
        <form action="" method="POST">
            <td>
                <h4>94.5 KFM</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in Ninety4_5_KFM_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ Ninety4_5_KFM_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in Ninety4_5_KFM_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="94_5_KFM_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="94_5_KFM_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="94_5_KFM_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="94_5_KFM_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

    <tr>
        <form action="" method="POST">
            <td>
                <h4>94.7 Highveld Stereo</h4>
            </td>
            <td>
                <span class="label label-info">www</span>
            </td>
            <td>
                {% if 'none' in Highveld_status %}
                    <span class="label label-danger">stopped</span>
                {% else %}
                    <span class="label label-success">running</span>
                    <span class="label label-warning">{{ Highveld_status }}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if 'none' in Highveld_status %}
                        <input class="btn btn-primary" type="submit" value="start" name="94_7_start">
                        <input class="btn btn-primary active" type="submit" value="stop" name="94_7_stop">
                    {% else %}
                        <input class="btn btn-primary active" type="submit" value="start" name="94_7_start">
                        <input class="btn btn-primary" type="submit" value="stop" name="94_7_stop">
                    {% endif %}
                </div>
            </td>
        </form>
    </tr>

</table>

</div>

{% endblock %}
