{% extends 'layout.html' %}

{% block body %}
&emsp;<a href="{{ url_for('info') }}"><button>refresh</button></a>
<br>
<br>

<div class="container">

    CPU utilisation
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: {{ cpu }};">
            {{ cpu }}
        </div>
    </div>

    Memory usage of 64G
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ mem }};">
            {{ mem }}
        </div>
    </div>

    Disk usage of /mnt/broadcast/
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ du }};">
            {{ du }}
        </div>
    </div>

    <br>

    <table class="table">
        <tr><td>Radio channels running</td><td>{{ mp3_running() }}</td></tr>
        <!--<tr><td>Radio channels set to auto start</td><td>{{ total_enabled }}</td></tr>-->
        <tr><td>TV channels running</td><td>{{ tv_running() }}</td></tr>
        <tr><td>encoders status</td><td>
            {% for i in encoder_check %}
                {{ i }}<br>
            {% endfor %}
        </td></tr>
    </table>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Watcher log file</h3>
  </div>
  <div class="panel-body">
      <form action="" method="POST">
        <input class="btn btn-default" type="submit" value="clear log" name="cwl">
      </form>
      <br>
        {% for i in watcher_log() %}
            {{ i }}<br>
        {% endfor %}
  </div>
</div>




{% endblock %}
