{% extends 'layout.html' %}

{% block body %}

&emsp;<a href="{{ url_for('player') }}"><button>refresh</button></a>
<br>
<br>


<!--
<div class="container-fluid">

    {% for channel in tv %}
        {% if 'mp4' in find_mp4(channel[0]) %}
            {{ channel[0] }}
            <video src="{{ url_for('stream', name=find_mp4(channel[0])) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250"></video>

        {% endif %}
    {% endfor %}
    </div>
-->


<div class="container-fluid">

    <div class="col-lg-3">
        M_NET
        <video src="{{ url_for('stream', name=find_mp4('M_NET')) }}"
               poster="{{ url_for('static', filename='test_pattern.jpg') }}"
               controls autoplay loop muted width="300" height="250">
        </video>
    </div>
    <div class="col-lg-3">
    Vuzu
    <video src="{{ url_for('stream', name=find_mp4('Vuzu')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>
    <div class="col-lg-3">
    kykNET
    <video src="{{ url_for('stream', name=find_mp4('kykNET')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    Ignition
    <video src="{{ url_for('stream', name=find_mp4('Ignition')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SABC_News
    <video src="{{ url_for('stream', name=find_mp4('SABC_News')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SABC1
    <video src="{{ url_for('stream', name=find_mp4('SABC1')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SABC2
    <video src="{{ url_for('stream', name=find_mp4('SABC2')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SABC3
    <video src="{{ url_for('stream', name=find_mp4('SABC3')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    ETV
    <video src="{{ url_for('stream', name=find_mp4('ETV')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    Soweto_TV
    <video src="{{ url_for('stream', name=find_mp4('Soweto_TV')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_1
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_1')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_2
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_2')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

<div class="col-lg-3">
    SuperSport_3
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_3')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
</div>

    <div class="col-lg-3">
    SuperSport_4
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_4)) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_5
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_5')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_6
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_6')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_7
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_7')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_8
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_8')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    SuperSport_Blitz
    <video src="{{ url_for('stream', name=find_mp4('SuperSport_Blitz')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    CNBC_Africa
    <video src="{{ url_for('stream', name=find_mp4('CNBC_Africa')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    BusinessDay_TV
    <video src="{{ url_for('stream', name=find_mp4('BusinessDay_TV')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    BBC_World_News
    <video src="{{ url_for('stream', name=find_mp4('BBC_World_News')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    eNews_Channel_Africa
    <video src="{{ url_for('stream', name=find_mp4('eNews_Channel_Africa')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    Sky_news
    <video src="{{ url_for('stream', name=find_mp4('Sky_news')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    CNN_International
    <video src="{{ url_for('stream', name=find_mp4('CNN_International')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    BBC_Brit
    <video src="{{ url_for('stream', name=find_mp4('BBC_Brit')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    Mzansi_Magic
    <video src="{{ url_for('stream', name=find_mp4('Mzansi_Magic')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

    <div class="col-lg-3">
    Parliament_SA
    <video src="{{ url_for('stream', name=find_mp4('Parliament_SA')) }}"
                   poster="{{ url_for('static', filename='test_pattern.jpg') }}"
                   controls autoplay loop muted width="300" height="250">
    </video>
    </div>

</div>

{% endblock %}